[package]
name = "parrot"
version = "1.0.4"
description = "A Rust GUI in Tauri for the Arch Linux package manager, pacman using the wrapper paru"
authors = ["DanCodes"]
license = "MIT"
repository = "https://github.com/dan-online/Parrot"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
tauri-build = { version = "1.2.1", features = [] }

[dependencies]
tauri = { version = "1.2.4", features = ["shell-open", "window-close", "window-maximize", "window-minimize", "window-start-dragging", "window-unmaximize"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
reqwest = { version = "0.11.16",  features = ["blocking", "json"] }
ts-rs = "6.2"
scraper = "0.16.0"
sled = "0.34.7"
zstd = "0.12.3"
tar = "0.4.38"

[features]
# this feature is used for production builds or when `devPath` points to the filesystem
# DO NOT REMOVE!!
custom-protocol = ["tauri/custom-protocol"]
