name: Continuous Delivery / Release

on:
  push:
    tags:
      - '*'

jobs:
  publish-tauri:
    name: CD / Tauri
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-20.04]

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4.2.1
        with:
          ref: ${{ github.event.release.tag_name }}

      - name: Set Release env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Bump Release version
        run: ./scripts/bump.sh ${{ env.RELEASE_VERSION }}
      
      - name: Setup Node
        uses: josh-development/.github/setup-node@main

      - name: Restore Cargo Cache
        uses: actions/cache@v4.1.1
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            src-tauri/target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          target: ${{ matrix.system.target }}
          override: true

      - name: Install extra dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-20.04'
        run: |
          sudo sed -i 's/azure\.//' /etc/apt/sources.list
          sudo apt update -y
          sudo apt install -y libgtk-3-dev libwebkit2gtk-4.0-dev libappindicator3-dev librsvg2-dev patchelf
      
      - name: Build Tauri App
        run: |
          rm -rf src-tauri/target/release/**/*.deb
          yarn tauri build

      - name: Build PKGBUILD
        run: ./scripts/build.sh

      - name: Upload release asset
        run: |
          gh release upload ${{ env.RELEASE_VERSION }} "$(find ./build -name *.deb)" --clobber
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish AUR package
        uses: KSXGitHub/github-actions-deploy-aur@v2
        with:
          pkgname: parrot-bin
          pkgbuild: ./build/PKGBUILD
          commit_username: ${{ secrets.AUR_USERNAME }}
          commit_email: ${{ secrets.AUR_EMAIL }}
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: Update AUR package
          ssh_keyscan_types: rsa,dsa,ecdsa,ed25519
      
      - name: Commit files
        run: |
          git config --local user.email "dan@dancodes.online"
          git config --local user.name "DanCodes"
          git config --local user.username "dan-online"
          git commit -a -m "chore(release): v${{ env.RELEASE_VERSION }}"

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main